:root {
  --unnamed-color-ffffff: #ffffff;
  --unnamed-color-9a9a9a: #9a9a9a;
  --unnamed-color-5cb2dd: #5cb2dd;
  --unnamed-color-333333: #333333;
  --unnamed-color-2693f4: #2693f4;
  --unnamed-color-121212: #121212;
}
@font-face {
  font-family: "Poppins";
  src: url("./font/Poppin-Black.ttf");
}
* {
  padding: 0;
  font-family: "Poppins";
  margin: 0;
}
.container {
  width: 1648px;
  margin: 0 auto;
}
.btn {
  background-color: var(--unnamed-color-2693f4);
  font-weight: bold;
  border-radius: 20px;
  font-weight: bold;
  color: var(--unnamed-color-ffffff);
  border: none;
  cursor: pointer;
}

.main_title {
  font-size: 40px;
  font-weight: bold;
  color: var(--unnamed-color-121212);
}

.main_desc {
  font-size: 16px;
  color: var(--unnamed-color-333333);
}
