.secteurs {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.secteurs .secteurs_left {
  width: 528px;
  margin-right: 29px;
}
.secteurs .secteurs_left {
  width: 1088px;
  height: 757px;
}

.secteurs_left > img {
  width: 100%;
  height: 100%;
}
.secteurs_career {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 35px;
}
.secteurs_right .secteurs_career > img {
  width: 531px;
  height: 391px;
}
