<div class="header">
	<div class="content container">
		<div class="logo">
			<img src="././themes/test/img/logo.png" alt="logo"/>
		</div>
		<div class="nav">
			<ul class="nav_list">
				<li class="nav_item nav_bold">Boutique</li>
				<li class="nav_item">Présentation</li>
				<li class="nav_item">Usinage</li>
				<li class="nav_item nav_bold">Applications et études</li>
				<li class="nav_item">actualités</li>
				<li class="nav_item">Contact</li>
			</ul>
		</div>
		<button class="btn nav_register">
			<p>Ouvrir un compte</p>
		</button>
		<div class="feature">
			<div class="feature_search">
				<img src="././themes/test/img/loupe.png" alt="search">
			</div>
			<div class="feature_cart">
				<img src="././themes/test/img/panier.png" alt="cart">
				<div class="cart--quanti">3</div>
			</div>
		</div>
	</div>
</div>
