<div class="notre_catalogue container">
	<div class="main_title">Notre catalogue</div>
	<p class="main_desc">
		Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
		    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
		    voluptua. Invidunt ut labore et dolore magna aliquyam erat, sed diam
		    voluptua.
	</p>
	<div class="notre_catalogue--swipe">
		<div class="swipe--previous">
			<img src="././themes/test/img/home/carousel/previous.png" alt=""/>
		</div>
		<div class="card_list">
			<div class="cart_item">
				<img src="././themes/test/img/home/carousel/joint-rotatitif.png" alt=""/>
				<h4 class="cart_item--name">Joint Rotatitifs</h4>
				<p>En savoir +</p>
			</div>
			<div class="cart_item">
				<img src="././themes/test/img/home/carousel/usinage.png" alt=""/>
				<h4 class="cart_item--name">Usinage</h4>
				<p>En savoir +</p>
			</div>
			<div class="cart_item">
				<img src="././themes/test/img/home/carousel/outillage.png" alt=""/>
				<h4 class="cart_item--name">Outillages</h4>
				<p>En savoir +</p>
			</div>
			<div class="cart_item">
				<img src="././themes/test/img/home/carousel/joint-piston.png" alt=""/>
				<h4 class="cart_item--name">Joints de piston</h4>
				<p>En savoir +</p>
			</div>
			<div class="cart_item">
				<img src="././themes/test/img/home/carousel/joint-statique.png" alt=""/>
				<h4 class="cart_item--name">Joint Statiques</h4>
				<p>En savoir +</p>
			</div>
			<div class="cart_item">
				<img src="././themes/test/img/home/carousel/joint-pneumatique.png" alt=""/>
				<h4 class="cart_item--name">Joint Pneumatique</h4>
				<p>En savoir +</p>
			</div>
			<div class="cart_item">
				<img src="././themes/test/img/home/carousel/joint-tige.png" alt=""/>
				<h4 class="cart_item--name">Joint tige</h4>
				<p>En savoir +</p>
			</div>
		</div>
		<div class="swipe--next">
			<img src="././themes/test/img/home/carousel/next.png" alt=""/>
		</div>
	</div>
</div>
