<div id='header'>
	{{ include('@test/header.html.twig') }}
</div>

<div>
	{{ include('@test/banner.html.twig') }}
	{{ include('@test/notre-catalogue.html.twig') }}
	{{ include('@test/secteurs.html.twig') }}
</div>
