<div class="container">
  <div class="secteurs">
    <div class="secteurs_left">
      <img
        src="././themes/test/img/home/secteurs-intervention/fabrication-et-reparation-verins.jpg"
        alt=""
      />
    </div>
    <div class="secteurs_right">
      <div class="main_title secteurs_title">Nos secteurs d'intervention</div>
      <p class="main_desc secteurs_desc">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua. At diam nonumy eirmod tempor invidunt ut labore et dolore
        magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet,
        consetetur sadipscing elitr, sed.
      </p>
      <div class="secteurs_career">
        <img
          src="././themes/test/img/home/secteurs-intervention/maintenance-industrielle.jpg"
          alt=""
        />
        <img
          src="././themes/test/img/home/secteurs-intervention/materiel-tp-agricole.jpg"
          alt=""
        />
        <img
          src="././themes/test/img/home/secteurs-intervention/production-pharmaceutique-alimentaire.jpg"
          alt=""
        />
        <img
          src="././themes/test/img/home/secteurs-intervention/recherche-developpement.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
